DATABASE_URL = URL_BASEDEDATOS

CLIENT_ID_INFOJOBS = USER_INFOJOBS
CLIENT_SECRET_INFOJOBS = PASSWORD_INFOJOBS

API_KEY_GEMINI = API_KEY_GEMINI

SMTP_SERVER = SERVIDOR_SMTP
USER_SMTP = USER_SMTP
PWD_SMTP = PASSWORD_SMTP

SECRET_JWT = SECRET_KEY_JWT
ALG_JWT = ALGORITHM_JWT
EXPIRE_MIN_JWT = MINUTES_EXIPER_JWT